* {
  box-sizing: border-box;
}

img {
  max-width: 20%;
}

body {
  margin: 18px;
  background: white;
}

#circle {
  background: saddlebrown;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
}
