* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 18px;
  background: black;
}

/* define color palette */

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.left {
  padding: 10px;
  background: white;
  width: 24%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.middle {
  background: white;
  width: 50%;
  /* height: 100vh; */
  position: absolute;
  top: 0;
}

.right {
  background: white;
  padding: 50px;
  width: 24%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

button {
  background: none;
  width: 50%;
  /* height: 50%; */
  border: none;
}

button:hover {
  transform: scale(1.5);
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  width: 200px;
  height: 200px;
  background: pink;
  margin: 15px;
}
